﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navArea, .contentArea{
    border: 1px solid #d4cdcd;
}

.grey {
    background: #eceeef;
}


#masterGrid tr{
    cursor: pointer;
}

td select{
    /*width: 70%;*/
    height: 30px;
    margin: auto 10px;
    padding: 5px;
    text-align: center;
}

.editableCell{
    padding: 5px !important;
}

.editableTable {
    border: solid 1px;
    width: 100%
}

.editableTable td {
    border: solid 1px;
}

.editableTable .cellEditing {
    padding: 0;
}

.editableTable .cellEditing input[type=text] {
    width: 100%;
    border: 0;
    background-color: rgb(255,253,210);
}
