﻿@model Bitventure.Models.Account

@{ 

    double numberOfDays = Bitventure.Models.Account.GetEffectiveDays(Model.TransactionDate, Model.EffectiveStatusDate);
}

<br />
<br />
<h3>Detail Grid</h3>
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Transaction Date</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Effective Status Date</th>
            <th>Time Breached</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@(Model.TransactionDate != null ? Model.TransactionDate.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
            @if (Model.Amount > 500)
            {
                <td style="background: #0000ff">@(Math.Round(Model.Amount, 2))</td>
            }
            else
            {
                <td>@(Math.Round(Model.Amount, 2))</td>
            }
            <td>@Bitventure.Models.Account.GetStatusName(Model.Status)</td>
            <td>@(Model.EffectiveStatusDate.HasValue ? Model.EffectiveStatusDate.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
            @if (numberOfDays >= 7)
            {
                <td style="background: #ffff00">Yes</td>
            }
            else
            {
                <td style="background: #00ff00">No</td>
            }
        </tr>



    </tbody>
</table>
