﻿@model List<Bitventure.Models.Account>

<br />
<br />
<h3>Master Grid</h3>
<br />

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Account Holder</th>
            <th>Branch Code</th>
            <th>Account Number</th>
            <th>Account Type</th>
        </tr>
    </thead>
    <tbody id="masterGrid">

        @if (Model != null && Model.Count > 0)
        {
            foreach (var account in Model)
            {
                //string accountType;
                <tr onclick="showDetails('@account.Id', '#accRow_@account.Id')" id="accRow_@account.Id">
                    <td>@account.AccountHolder</td>
                    <td>@account.BranchCode</td>
                    <td>@account.AccountNumber</td>
                    <td id="@account.Id"  ondblclick="editRecord(this)">
                        <span>
                            @(account.AccountType == 1 ? @"Current/Cheque" : account.AccountType == 2 ? @"Savings" : string.Empty)
                        </span>
                    </td>
                </tr>
            }
        }


    </tbody>
</table>

<section id="detailGrid">

    <div id="loader" class="d-none text-center">
        <span><img src="~/Images/loader.gif" /></span>
    </div>

    <div id="content">

    </div>
</section>





