﻿@model List<Bitventure.Models.Report>

<br />
<br />

<h3 class="text-center">Report</h3>
<br />
<br />

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Branch Code</th>
            <th>Account Type</th>
            <th>Status</th>
            <th>Total Count</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody id="masterGrid">

        @if(Model != null && Model.Count > 0)
        {
            foreach(var account in Model)
            {
                //string accountType;
                <tr>
                    <td>@account.BranchCode</td>
                    <td>@account.AccountType</td>
                    <td>@account.Status</td>
                    <td>@account.Count</td>
                    <td>@account.Amount</td>
                </tr>
            }
        }


    </tbody>
</table>



