﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <section class="col-sm-3 navArea" id="navArea">
            <a href="#" class="btn btn-block btn-link" id="importFile">Import File</a>
            <a href="#" class="btn btn-block btn-link" id="viewImport">View Imports</a>
            <a href="#" class="btn btn-block btn-link" id="report">Report</a>
        </section>
        <section class="col-sm-9 contentArea" id="contentArea">

            <div id="importFileArea">

                <div class="text-center">
                    <br />
                    <br />
                    <input type="file" id="CSVFile" name="CSVFile" class="btn btn-light" value="Select CSV File" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                    <div class="clearfix"></div>
                    <span id="loader" class="d-none"><img src="~/Images/loader.gif" /></span>

                    <br />
                    <br />
                    <button type="button" class="btn btn-lg btn-primary" id="uploadFile" disabled>
                        UPLOAD
                    </button>
                    <button type="button" class="btn btn-lg btn-danger" id="cancelUpload" disabled>CANCEL</button>
                    <div class="clearfix"></div>
                    <br />
                    <br />
                </div>

            </div>

            <div id="viewImportArea" class="d-none">
                <div id="loader" class="d-none text-center">
                    <span><img src="~/Images/loader.gif" /></span>
                </div>
                
                <div id="content">
                </div>
            </div>

            <div id="reportArea" class="d-none">
                <div id="loader" class="d-none text-center">
                    <span><img src="~/Images/loader.gif" /></span>
                </div>
                <div id="content" class="text-center">
                </div>
            </div>

        </section>
    </div>
</div>



<script>

    $(document).ready(function () {

        $('#importFile').click(function () {
            $('#contentArea').children().addClass('d-none');
            $('#importFileArea').removeClass('d-none');
        });

        $('#viewImport').click(function () {
            $('#contentArea').children().addClass('d-none');
            $('#viewImportArea').removeClass('d-none');
            $('div#viewImportArea > div#loader').removeClass('d-none');

            $.get('/Home/GetImports', function (result) {
                $('div#viewImportArea > div#loader').addClass('d-none');
                if (!!result)
                {
                    $('#viewImportArea').find('#content').html(result);
                }
            });
        });

        $('#report').click(function () {
            $('#contentArea').children().addClass('d-none');
            $('#reportArea').removeClass('d-none');
            $('div#reportArea > div#loader').removeClass('d-none');

            $.get('/Home/GetReports', function (result) {
                $('div#reportArea > div#loader').addClass('d-none');
                if (!!result) {
                    $('#reportArea').find("#content").html(result);
                }
            });
        });

        //Create an input file button to simulate the click
        //Set default file format to .csv on file dialog
        //var fileSelector = $('<input type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />');

        var csvExtension = 'csv';

        var httpRequest;//= new window.XMLHttpRequest();

        $('#CSVFile').change(function (evt) {

            var file = evt.target.files[0];

            var isValid = false;

            if (!!file) {

                var filename = file.name;
                var extension = filename.substr(filename.lastIndexOf('.') + 1);

                if (!!extension) {
                    extension = extension.toLowerCase();
                    switch (extension) {
                        case csvExtension:
                            isValid = true;
                            $('#uploadFile').removeAttr('disabled');
                            $('#cancelUpload').attr('disabled', 'disabled');
                            break;

                        default:
                            $('#uploadFile').attr('disabled', 'disabled');
                            $('#cancelUpload').attr('disabled', 'disabled');
                            $.alert({
                                title: 'Error',
                                content: 'Invalid file. Please upload a .csv file',
                            });
                            break;
                    }
                }
                else {
                    $('#uploadFile').attr('disabled', 'disabled');
                    $('#cancelUpload').attr('disabled', 'disabled');
                     $.alert({
                                title: 'Error',
                                content: 'Invalid file. Please upload a .csv file',
                            });
                }


            }
            else {
                $('#uploadFile').attr('disabled', 'disabled');
                $('#cancelUpload').attr('disabled', 'disabled');
            }

            return isValid;

        });


        $('#uploadFile').click(function () {

            //Upload file
            var file = $('#CSVFile').prop('files')[0];
            $('#uploadFile').attr('disabled', 'disabled');
            $('#cancelUpload').removeAttr('disabled');
            $('div#importFileArea > div > span#loader').removeClass('d-none');

            if (!!file) {
                processFile(file);
            }
            else {
                $.alert({
                    title: 'Error',
                    content: 'Invalid file. Please upload a .csv file',
                });
            }
        });

        $('#cancelUpload').click(function () {

            if (!!httpRequest && httpRequest.readyState != 4)
                httpRequest.abort();

        });


        function processFile(file) {
            //Process file

            if (window.FormData !== undefined) {
                var formData = new FormData();
                formData.append('CsvFile', file)

                //Submit the file to the server
                httpRequest = $.ajax({
                    url: '/Home/ProcessFile',
                    type: 'post',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    beforeSend: function () {
                        //window.setTimeout(function () { }, 15000);

                    },
                    success: function (result) {
                        $('div#importFileArea > div > span#loader').addClass('d-none');
                        $('#uploadFile').removeAttr('disabled');
                        $('#cancelUpload').attr('disabled', 'disabled');
                        $.alert({
                            title: 'Success',
                            content: 'File Uploaded successfully',
                        });
                    },
                    error: function (error) {
                        $('div#importFileArea > div > span#loader').addClass('d-none');
                        $('#uploadFile').removeAttr('disabled');
                        $('#cancelUpload').attr('disabled', 'disabled');

                        $.alert({
                            title: 'Error',
                            content: 'File Uploaded Error: ' + error.statusText,
                        });
                    }
                })

            }
            else {
                $.alert({
                    title: 'Error',
                    content: 'FormData is not supported',
                });
            }


        }

    });


</script>